

<div class="row">
    <div class="col-4">
  
    </div>
  
    <div class="col-4 text-center">
  
        <h1 class="text-light" style="font-family: cursive;margin-top: 100px;">Login</h1>
  
        <img src="../../assets/flat-icon-of-bank-building-vector-10876259_low.png" width="100px" height="100px">
        <h6>{{aim}}</h6>
  
        <input type="text" id="log_accno" [placeholder]="account" (change)="acnochange($event)"
            class="mt-3 form-control w-75 ms-5 border-0 rounded-pill" style="background-color: #1e5162 ;"><br>
  
        <input type="password" id="log_pswd" placeholder="Password" (change)="pswdchange($event)"
            class="mt-2 form-control w-75 ms-5 border-0 rounded-pill" style="background-color: #1e5162 ;"><br>
  
        <button (click)="login()" id="button"
            style="width: 200px;height: 35px; border-radius: 20px; background-color: #0be087; border: 0;">Login</button><br><br>
  
        <a href=""
            style="text-decoration: none;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Forget
            password</a>&nbsp; or &nbsp;<a href="signup.html"
            style="text-decoration: none;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Sign up</a>
  
    </div>
  
    <div class="col-4">
  
    </div>
  </div>

  <app-register></app-register>
